/* Esercizio 1 */
.ex-1-square {
  background-color: transparent;
  transition: background-color 2s;
}
.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
  /* *width non presente qua perché già presente in style.css */
  transition: width 2s ease-out;
}
.ex-2-square:active {
  width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
  border-radius: 0;
  transition: border-radius 1s;
}
.ex-3-square:hover {
  border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
  filter: opacity(1);
  transition: filter 1s;
}
.ex-4-square:hover {
  filter: opacity(0);
}

/* Esercizio 5 */
.ex-5-square {
  transform: scale(1);
  transition: transform 1s;
}
.ex-5-square:hover {
  transform: scale(2);
}
.ex-5-square:active {
  transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
  /* * non inserisco filter: grayscale(0) e sepia(0) perchè è di default */
  transition: filter 2s;
}
.ex-7-img:hover {
  filter: grayscale(1) sepia(0.5);
}

/* Esercizio 8 */
.ex-8-img {
  transition: filter 2s, border-radius 2s;
}
.ex-8-img:hover {
  filter: grayscale(1) sepia(0.5);
  border-radius: 15px;
}

/* Esercizio 9 */
.ex-9-img {
  transition: filter 2s, border-radius 2s, transform 2s;
}
.ex-9-img:hover {
  filter: grayscale(1) sepia(0.5);
  border-radius: 15px;
  transform: scale(1.5);
}

/* Esercizio 10 */
.ex-10-icon {
  animation: spinnerino 1s linear infinite;
}
@keyframes spinnerino {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Esercizio 11 */
.ex-11-icon:hover {
  animation: quartospinnerino 2s cubic-bezier(0.46, 0.46, 1, 0.56);
}
@keyframes quartospinnerino {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Esercizio 12 */

/* Esercizio 13 */
